<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303471511729-9kg2a2rt4hk5negmmqcds1nirflui8i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303471511729-9kg2a2rt4hk5negmmqcds1nirflui8i3</string>
	<key>API_KEY</key>
	<string>AIzaSyCp0Hqi98ku-WUeqBwubHEQtatdvd1gyj8</string>
	<key>GCM_SENDER_ID</key>
	<string>303471511729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applory.facetag</string>
	<key>PROJECT_ID</key>
	<string>facetag-b8dd0</string>
	<key>STORAGE_BUCKET</key>
	<string>facetag-b8dd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303471511729:ios:0bf06228ef009362</string>
	<key>DATABASE_URL</key>
	<string>https://facetag-b8dd0.firebaseio.com</string>
</dict>
</plist>